<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>John Morales - About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
				<% include partials/favicon %>
    </head>
    <body class="scroll-assist">
		
		<% include partials/header %>
		
		<div class="main-container">
		<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
		    <div class="background-image-holder">
		        <img alt="image" class="background-image" src="images/about-main-background.jpg">
		    </div>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
		                <h3 class="mb8 mb-xs-4">About</h3>
										<img alt="Logo" class="image-small mb40 mb-xs-0" src="images/logo-light.png">
		                <h4 class="mb56 mb-xs-24">
		                   	Skills, Education, Experience, and More...
		                </h4>
		                
		            </div>
		        </div>
		    </div>
			</section>
			<section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1 text-center">
		                    <h3 class="uppercase color-primary mb40 mb-xs-24">About Me</h3>
		                    <p class="lead">
		                       I graduated from the University of Richmond in 2017 with a B.S. in Computer Science. Since then I started a web design agency with the goal of creating and improving small business websites so that they not only look great, but sell. Now my goal is to put the skills I&apos;ve acquired to work and contribute to an interesting company while continuing my growth. 
		                    </p>
		                </div>
		            </div>
		            
		        </div>
		        
		    </section>
				<section class="bg-secondary">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12">
		                    <h4 class="uppercase mb80 text-center">Experience</h4>
		                    <div class="tabbed-content button-tabs vertical">
		                        <ul class="tabs">
		                            <li class="active">
		                                <div class="tab-title">
		                                    <span>Web Development</span>
		                                </div>
		                                <div class="tab-content">
		                                    <h5 class="uppercase">Web Development Experience</h5>
		                                    <hr>
		                                    <ul class="bullets">
																					<li>Implemented user authentication for REI Analyze site (in progress) with user sign up, login, password reset, and confirmation email. [React, Node.js, Express, Mongodb, and Semantic-UI] </li>
																					<li>Designed more than 5 static custom HTML sites progressing from simple to advanced</li>
																					<li>Created sales-focused sites for CleverLeopard Design and Eddy Family Chiropractic [HTML5, CSS3, Javascript, Jquery, AJAX, and Bootstrap]</li>
																				</ul>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="tab-title">
		                                    <span>Android Development</span>
		                                </div>
		                                <div class="tab-content">
		                                    <h5 class="uppercase">Android Development Experience</h5>
		                                    <hr>
		                                    <ul class="bullets">
																					<li>Created Minesweeper App [Custom View and Intents]</li>
																					<li>Built ShoppingList App [RecylerView, SugarORM, Intents, ButterKnife and SnackBar]</li>
																					<li>Developed Weather App [RecyclerView, Retrofit, GSON, SugarORM, Thread, OpenWeatherMap API, Intents, Snackbar, and Navigation Drawer]</li>
																					<li>Designed WorkingMan App (Hours Tracking) [RecyclerView, SugarORM, CalendarView, Intents, and PagerSlidingTabStrip]</li>
																					<li>Built NewYearDietCalc App (Total daily energy expediture and macronutrient calculator to help people reach their diet and fitness goals) [PagerSlidingTabStrip, Animation, Intents, SharedPreferences, and Toast]</li>
																					<li>Published NewYearDietCalc to <a href="https://play.google.com/store/apps/details?id=jmmacbook.newyeardietcalc1">Google Play Store</a> (Oct 2016)</li>
																				</ul>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="tab-title">
		                                    <span>Software Engineering</span>
		                                </div>
		                                <div class="tab-content">
		                                    <h5 class="uppercase">Software Engineering Experience</h5>
		                                    <hr>
		                                    <ul class="bullets">
																					<li>Implemented Neural Network (NN), including forward and back propagation.  Initially our group had trouble translating the theory used in NNs to practice, but after bouncing ideas off one another and modelling the theory visually, we were able to figure it out (Java).</li>
																					<li>Collaborated with teammates to create, test, and debug methods to complete Nachos OS (Java).</li>
																					<li>Independently translated binary instructions to MIPS Assembly and simulated cache memory (C++).</li>
																				</ul>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="tab-title">
		                                    <span>UI/UX Design</span>
		                                </div>
		                                <div class="tab-content">
		                                    <h5 class="uppercase">UI/UX Design Experience</h5>
		                                    <hr>
		                                    <ul class="bullets">
																					<li>Worked with partners to take an app idea through the UX design process used by the Prezi UX Design Team.
																					<ul class="bullets-padded">
																						<li>Generated Personas</li>
																						<li>Created mockups for Personas</li>
																						<li>conducted user interviews and user testing</li>
																						<li>Fixed confusions found in user testing </li>
																					</ul>
																				</li>
																				<li>Conducted User Testing on NewYearDietCalc App to find user confusions then corrected 10 sources of confusion and added onboarding to get initial settings from users.</li>
																				</ul>
		                                </div>
		                            </li>
		                        </ul>
		                    </div>
		                    
		                </div>
		            </div>
		            
		        </div>
		        
		    </section>
				<section class="bg-secondary bg-dark">
		        <div class="container">
								<h3 class="uppercase color-secondary mb40 mb-xs-24 text-center">Skills</h3>
										<h4>Working Knowledge</h4>
										<ul class="bullets">
											<li><em>Front-End Web Development Skills</em>: HTML5, CSS3, Javascript, JQuery, Bootstrap, Responsive Web Design, ensuring Cross-Browser Compatibility, LAMP Stack, and CPanel.</li>
											<li><em>Modern Web App Technologies</em>: React, Node.js, Express, Mongodb, Semantic-ui, and ES6 Syntax</li>
											<li><em>Android Development Skills</em>: Android Studio, RecyclerView, Intent, SharedPreferences, SugarORM, Snackbar, Toast, ButterKnife, GSON PagerSlidingTabStrip and Retrofit.</li>
											<li><em>Software Development Skills</em>: Java, C/C++ (including experience debugging with gdb and vgdb), UNIX/Linux command line, git, OOP, and Functional Programming</li>
											<li><em>Design Skills</em>: Photoshop, Pixlr and Mockup Software (Figma, Invision)</li>
											<li><em>Marketing Skills</em>: optimizing SEO, setting up and using Google Analytics, optimizing awebsite for conversions, and writing persuasive website copy.</li>
											<li><em>Website Speed Optimization Skills</em>: image compression, browser caching, minifying CSS/Javscript,defering Javascript parsing and other methods.</li>
										</ul>

										<p><strong>Basic Knowledge:</strong> Python, PHP7, AJAX, mySQL</p>											            
		        </div>
		        
		    </section><section class="image-square left">
		        <div class="col-md-6 image">
		            <div class="background-image-holder">
		                <img alt="image" class="background-image" src="images/uofr-library.jpg">
		            </div>
		        </div>
		        <div class="col-md-6 col-md-offset-1 content">
		            <h3>Education</h3>
		            <p class="mb0">
		                Graduated from University of Richmond in May of 2017 with a B.S. in Computer Science and a minor in Mathematics.
		            </p>
		        </div>
		    </section><section class="image-square right">
		        <div class="col-md-6 image">
		            <div class="background-image-holder">
		                <img alt="image" class="background-image" src="images/relevant-course.jpg">
		            </div>
		        </div>
		        <div class="col-md-6 content">
		            <h3>Relevant Courses</h3>
								<ul class="bullets">
									<li>Data Structures</li>
									<li>Algorithms</li>
									<li>Programming Languages</li>
									<li>Mobile Software Development</li>
									<li>User Interface Design (UI/UX Design)</li>
									<li>Computer Security</li>
									<li>Operating Systems</li>
									<li>Machine Learning</li>
									<li>Computer Organization (Systems)</li>
								</ul>
		        </div>
		    </section><section class="image-square left">
		        <div class="col-md-6 image">
		            <div class="background-image-holder">
		                <img alt="image" class="background-image" src="images/tennis-camp.jpg">
		            </div>
		        </div>
		        <div class="col-md-6 col-md-offset-1 content">
		            <h3>Additional Experience</h3>
		            <ul>
									<li><strong>Founder and Lead Developer,</strong> Did all necessary tasks as the founder of CleverLeopard Design (August - December 2017)
										<ul class="bullets-padded">
											<li>
												<em>Conducted all sales &amp; marketing efforts</em>: made daily cold calls, wrote daily cold emails, found leads through research, and met with interested potential clients.
											</li>
											<li>
												<em>Developed all websites</em>: wrote HTML, CSS, Javascript, etc. to create site design, selected pictures, wrote sales copy, decided color scheme, designed logos, and optimized site performance.
											</li>
										</ul>
									</li><br>
									<li><strong>Tennis Coach,</strong> Taught and managed groups of 4-14 children aged 3-16.  (Summers 2013, 2014, and 2015)</li><br>
									<li><strong>Junior Volunteer,</strong>  Cooperated  with  nurses  to  improve  patient  experience  and  communicated  directly with many patients to put them at ease before a medical test in Martha Jefferson Hospital (Summer 2012)</li>
								</ul>
		        </div>
		    </section><section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h4 class="mb16">Frequently Asked Questions</h4>
		                    <p class="lead mb64">Just a bit of information to help you get to know me better :)</p>
		                </div>
		            </div>
		            
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1">
		                    <ul class="accordion accordion-2 one-open">
<!--
		                        <li>
		                            <div class="title">
		                                <h4 class="inline-block mb0">Who are you?</h4>
		                            </div>
		                            <div class="content">
		                                <p>
		                                	I'm an entrepreneur seeking to help a bay area company
		                                </p>
		                            </div>
		                        </li>
-->
		                        <li>
		                            <div class="title">
		                                <h4 class="inline-block mb0">What do you do outside of school/work?</h4>
		                            </div>
		                            <div class="content">
		                                <p class="mb0">
		                                    I have lots of hobbies and passions that I love. Here are some of my favorite things to do:
		                                </p>
																		<div class="row">
																			<ul class="mt8 col-sm-6 bullets">
																				<li>Work on my Web Design Business</li>
																				<li>Learn New Snowboarding Skills</li>
																				<li>Play Piano</li>
																				<li>Create Android Apps</li>
																				<li>Draw and Paint</li>
																			</ul>
																			<ul class="col-sm-6 bullets">
																				<li>Lift Weights</li>
																				<li>Learn a new skill</li>
																				<li>Practice Tennis</li>
																				<li>Create Beats on Ableton</li>
																				<li>Learn new languages</li>
																			</ul>
																		</div>
																		<p class="mb0 mt12">In the spring of 2016 I studied abroad in Budapest and gained a new passion: travel. Many of the images on this site are of places I plan to visit.</p>
		                            </div>
		                        </li>
		                        <li>
		                            <div class="title">
		                                <h4 class="inline-block mb0">What are your strengths and weaknesses?</h4>
		                            </div>
		                            <div class="content">
		                                <p>
		                                	<strong>My greatest strengths are my:</strong> persistence, positive atitude, ability to remain calm under stress, creativity, and ability to work hard.<br><br>
																			<strong>My greatest weakness is:</strong> organization. In the past I've struggled to stay organized, but recently, by using my phone's calendar and making lists of things to do, I've been able to stay on task and remember important things I need to do.
		                                </p>
		                            </div>
		                        </li>
													
														<li>
															<div class="title">
																<h4 class="inline-block mb0">What are your career goals?</h4>
															</div>
															<div class="content">
																<p>
																	In the short-term, I want to keep improving my web, mobile, and/or software development skills by exceeding expectations at a interesting company. <br><br>
																	In the long-term, I&apos;ll use these skills and others, to create a business that solves problems for tons of people and contributes greatly to society. Then I&apos;ll create an mentorship program for ambitious kids from low income areas to help them create their own businesses and make their own contributions.
																</p>
															</div>
														</li>
		                        <li>
		                            <div class="title">
		                                <h4 class="inline-block mb0">What was one of your greatest challenges?</h4>
		                            </div>
		                            <div class="content">
		                                <p>
		                                	During my last semester in school, I was putting school on the backburner to work on some business ideas I had. Unfortunately, a consequence of this is that I bombed my first Operating Systems exam. I needed this class, so if I didn't get at least a C, I wouldn't be able to graduate.<br><br>I'd never done so poorly on an exam before, and since the exam grades were a huge portion of the final grade, it would be super tough for me to get the C needed to pass, and nearly impossible to get anything higher than that.<br><br>I committed myself to learning OS and getting a good grade on the final two exams. With only a day before the second exam, I studied for hours, read 300+ pages of the textbook, and did tens of practice exercises. I managed to beat the class average by 10 points.<br><br>Before the final exam, I told one of my friends my goal to get a B on the final, all that they said is that it would be impossible.<br><br>This just fired me up, and I studied harder then I'd ever studied. By the time the final rolled around, I had learned a ton about Operating Systems and crushed the class average to get a B on the test and B in the class.
		                                </p>
		                            </div>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </section>
				
				<% include partials/footer %>
				
				</div>
		
				
				<script src="javascripts/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/parallax.js"></script>
        <script src="javascripts/scripts.js"></script>
    </body>
</html>
				