<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
			 	<link href="stylesheets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
				<% include partials/favicon %>
    </head>
    <body class="scroll-assist">
		
		<% include partials/header %>
		
		<div class="main-container">
		<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
		    <div class="background-image-holder">
		        <img alt="image" class="background-image" src="images/contact-main-background.jpg">
		    </div>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
		                <h3 class="mb8 mb-xs-4">Contact</h3>
										<img alt="Logo" class="image-small mb40 mb-xs-0" src="images/logo-light.png">
		                <h4 class="mb56 mb-xs-24">
		                   	Let&apos;s have a chat
		                </h4>
		                
		            </div>
		        </div>
		    </div>
			</section>
		<section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-6 col-md-5">
		                    <h4 class="uppercase">Get In Touch</h4>
		                    <p>
		                        Whether you just want to chat or have me in mind for a position you want to fill, I'd love to hear from you. Don't hesitate to reach out.<br><br> Email is my preferred method of contact, but phone is good too.
		                    </p>
		                    <hr>
		                    <p>Charlottesville, VA</p>
		                    <hr>
		                    <p>
		                        <strong>E:</strong>&nbsp;<a href="mailto:jmorales2718@gmail.com">jmorales2718@gmail.com</a><br>
		                        <strong>P:</strong>&nbsp;<a href="tel:4349069247">(434) 906-9247</a><br>
		                    </p>
		                </div>
		                <div class="col-sm-6 col-md-5 col-md-offset-1">
		                    <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
		                        <input type="text" class="validate-required" name="name" placeholder="Your Name">
		                        <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
		                        <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
		                        <button type="submit">Send Message</button>
		                    </form>
		                </div>
		            </div>
		            
		        </div>
		        
			</section>
			
			<% include partials/footer %>
			
		</div>
		
				
				<script src="javascripts/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/parallax.js"></script>
        <script src="javascripts/scripts.js"></script>
    </body>
</html>
				