<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>John Morales - Contact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
			 	<link href="stylesheets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/theme-hyperblue.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
				<% include partials/favicon %>
    </head>
    <body class="scroll-assist">
		
		<% include partials/header %>
		
		<div class="main-container">
		<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
		    <div class="background-image-holder">
		        <img alt="image" class="background-image" src="images/austin-texas4.jpg">
		    </div>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
		                <h3 class="mb8 mb-xs-4">Contact</h3>
										<img alt="Logo" class="image-small mb40 mb-xs-0" src="images/logo-light.png">
		                <h4 class="mb56 mb-xs-24">
		                   	Let&apos;s have a chat
		                </h4>
		            </div>
		        </div>
		    </div>
			</section>
			<section>
		        <div class="container">
		            <div class="row v-align-children">
		                <div class="col-md-5 col-sm-5 mb-xs-24">
		                    <h4 class="uppercase">Get In Touch</h4>
		                    <p>
		                        Whether you just want to chat or have me in mind for a position you want to fill, I'd love to hear from you. Don't hesitate to reach out.<br><br> Email is my preferred method of contact, but text is good too. I get too many spam calls to pick up those :)
		                    </p>
		                    <hr>
		                    <p>Austin, TX</p>
		                    <hr>
		                    <p>
		                        <strong>E:</strong>&nbsp;<a href="mailto:jmorales2718@gmail.com">jmorales2718@gmail.com</a><br>
		                        <strong>P:</strong>&nbsp;<a href="tel:4349069247">(434) 906-9247</a><br>
		                    </p>
										</div>
		                <div class="col-md-4 col-sm-5 col-sm-offset-1 hidden-xs text-center">
		                    <img class="cast-shadow" alt="Portrait of me" src="images/me-pic.jpg">
		                </div>
		            </div> 
		        </div>
		    </section>
			
			<% include partials/footer %>
			
		</div>
		
				
				<script src="javascripts/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/parallax.js"></script>
        <script src="javascripts/scripts.js"></script>
    </body>
</html>
				