<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>John Morales - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="stylesheets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
				<% include partials/favicon %>
    </head>
    <body class="scroll-assist">
		
		<% include partials/header %>
		
		<div class="main-container">
					
			<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
		    <div class="background-image-holder">
		        <img alt="image" class="background-image" src="images/home-main-background.jpg">
		    </div>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
		                <img alt="Logo" class="image-small mb40 mb-xs-0" src="images/logo-light.png">
		                <h4 class="mb56 mb-xs-24">
		                    I'm a young, hungry and entreprenuerial man looking to make a difference through technology.
		                </h4>
<!--		                <a class="btn btn-lg btn-white mb0" href="#">How I Can Help You</a>-->
		            </div>
		        </div>
		    </div>
		</section><section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1 text-center">
		                    <h3 class="uppercase color-primary mb40 mb-xs-24">Hola Amigo</h3>
		                    <p class="lead">
		                        My name is John Morales. I graduated from the University of Richmond with a B.S. in Computer Science in May of 2017. More recently I've been working on building my own web design agency to help small businesses. Through that business I have gained a ton of web design, web development, sales, and general life experience. Now I'm looking to put my skills to work as a web developer,  android developer, or software developer.
		                    </p>
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><section class="fullscreen cover parallax image-bg overlay">
		        <div class="background-image-holder gradient-overlay">
		            <img alt="image" class="background-image" src="images/thumbnail-about-me.png">
		        </div>
		        <div class="container v-align-transform">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h1 class="mb16">Allow me to introduce myself</h1>
		                    <div class="modal-container">
		                        <div class="play-button btn-modal inline large"></div>
		                        <div class="foundry_modal no-bg">
<!--		                            <iframe data-provider="vimeo" data-video-id="252809168" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>-->
															<iframe src="https://player.vimeo.com/video/252809168" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/252809168">About Me - John Morales</a> from <a href="https://vimeo.com/user79641822">John Morales</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><section class="bg-dark pt64 pb64">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h2 class="mb40">Want to learn more?</h2>
		                    <a class="btn btn-filled btn-lg mb0" href="about">Learn About Me</a>
		                </div>
		            </div>
		            
		        </div>
		        
			</section>
			<section class="projects">
		        <div class="container">
		            <div class="masonry-loader">
		                <div class="col-sm-12 text-center">
		                    <div class="spinner"></div>
		                </div>
		            </div>
		            <div class="row masonry masonryFlyIn">
		                <div class="col-sm-6 masonry-item project" data-filter="People">
		                    <div class="image-tile hover-tile text-center">
		                        <img alt="image" class="background-image" src="images/cleverleopard-main-screenshot.png">
		                        <div class="hover-state">
		                            <a href="portfolio">
		                                <h3 class="uppercase mb8">CleverLeopard Design</h3>
		                                <h6 class="uppercase">Web Design Business Website</h6>
		                            </a>
		                        </div>
		                    </div>
		                    
		                </div>
		                <div class="col-sm-6 masonry-item project" data-filter="People">
		                    <div class="image-tile hover-tile text-center">
		                        <img alt="image" class="background-image" src="images/eddy-family-chiro-screenshot.png">
		                        <div class="hover-state">
		                            <a href="portfolio">
		                                <h3 class="uppercase mb8">Eddy Family Chiropractic</h3>
		                                <h6 class="uppercase">Charlottesville, VA</h6>
		                            </a>
		                        </div>
		                    </div>
		                    
		                </div>
<!--
		                <div class="col-sm-4 masonry-item project" data-filter="People">
		                    <div class="image-tile hover-tile text-center">
		                        <img alt="image" class="background-image" src="images/home14.jpg">
		                        <div class="hover-state">
		                            <a href="#">
		                                <h3 class="uppercase mb8">Design Kit</h3>
		                                <h6 class="uppercase">Technology / Photography</h6>
		                            </a>
		                        </div>
		                    </div>
-->
		                    
<!--		                </div>-->
		                <div class="col-sm-6 masonry-item project" data-filter="People">
		                    <div class="image-tile hover-tile text-center">
		                        <img alt="image" class="background-image" src="images/nydc-main-screenshot.jpg">
		                        <div class="hover-state">
		                            <a href="portfolio">
		                                <h3 class="uppercase mb8">New Year Diet Calc</h3>
		                                <h6 class="uppercase">Android Application</h6>
		                            </a>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
							<div class="text-center">
								<a class="btn btn-lg btn-blue mb0 mt24 mt-xs-32" href="portfolio">See Full Portfolio</a>
		          </div>
		        </div>
		        
		    </section>
				<section class="image-bg parallax overlay">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image" src="images/san-juan-background.jpg">
		        </div>
		        <div class="container">
		            
		            
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h3 class="mb40 mb-xs-24">Got a question or just want to say hi</h3>
		                    <a class="btn btn-lg btn-filled" href="contact">Reach Out</a>
		                </div>
		            </div>
		            
		        </div>
		        
		    </section>
				<% include partials/footer %>
		</div>
		
				
				<script src="javascripts/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/masonry.min.js"></script>
        <script src="javascripts/parallax.js"></script>
        <script src="javascripts/scripts.js"></script>
    </body>
</html>
				