<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>John Morales - Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="stylesheets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/flexslider.css" rel="stylesheet" type="text/css" media="all" />
				<link href="stylesheets/theme-hyperblue.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
				<% include partials/favicon %>
    </head>
    <body class="scroll-assist">
		
		<% include partials/header %>
		
		<div class="main-container">
		<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
		    <div class="background-image-holder">
		        <img alt="image" class="background-image" src="images/portfolio-main-background.jpg">
		    </div>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
										<h3 class="mb8 mb-xs-4">Portfolio</h3>
		                <img alt="Logo" class="image-small mb40 mb-xs-0" src="images/logo-light.png">
		                <h4 class="mb56 mb-xs-24">
		                    Take a look at some of the work I&apos;ve done over the years.
		                </h4>
		            </div>
		        </div>
		    </div>
		</section><section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1 text-center">
		                    <h3 class="uppercase color-primary mb40 mb-xs-24">Work I&apos;ve Recently Completed</h3>
		                    <p class="lead">
		                        In the past I was largely working on app projects, but more recently I&apos;ve shifted to doing a ton of web development/design and learned about building websites for sales. Most recently, I worked on a Web App that helps real estate investors find and analyze properties more easily (MERN Stack, Semantic UI, and Zillow API).
		                    </p>
		                </div>
		            </div>
		        </div>
		    </section><section class="image-edge">
		        <div class="col-md-6 col-sm-4 p0">
		            <img id="cl" alt="Screenshot" class="mb-xs-24" src="images/iphone6-screenshot-cleverleopard-1.png">
		        </div>
		        <div class="container">
		            <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
		                <h1 class="large mb40 mb-xs-16">CleverLeopard Design</h1>
		                <h6 class="uppercase mb16">Mobile Responsive Site for a Web Design Business</h6>
		                <p class="lead mb40">
		                    This clean and user-friendly 4 page site is designed to sell to potential clients and show them the benefits of working with CleverLeopard. This project included: creation of a contact form, usage of google maps API and logo design.
		                </p>
						<a class="btn-lg btn" href="http://cleverleopard.com">View Site</a>
		            </div>
		        </div>
		    </section><section class="image-edge">
		        <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
		            <img id="ef" alt="Screenshot" class="mb-xs-24" src="images/eddy-chiro-mockup.png">
		        </div>
		        <div class="container">
		            <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
		                <h1 class="large mb40 mb-xs-16">Eddy Family Chiropractic</h1>
		                <h6 class="uppercase mb16">Mobile Responsive Site for a Local Chiropractic Business</h6>
		                <p class="lead mb40">
		                    I designed this simple 16 page site for a Eddy Family Chiropractic to sell to patients and help them schedule appointments online. This project included: creation of a contact form, usage of google maps API and integration with 3rd-party booking software.
		                </p>
		                <a class="btn-lg btn" href="http://eddychiro.com/">View Site</a>
		            </div>
		        </div>
		    </section>
				<section>
		        <div id="nydc" class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h4 class="uppercase mb16">New Year Diet Calc Android App</h4>
		                    <p class="lead mb64">
		                        I created the New Year Diet Calc, because I always had to go and get my calculator when I wanted to calculate my total daily energy expenditure and my macronutrient ratios. So I made an app to do exactly what I wanted, added some features to make it usable by a larger amount of people and created onboarding to help people understand how to use it. I pubished the New Year Diet Calc to the Google Play Store in October of 2016.
		                    </p>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-sm-12">
		                    <div class="image-slider slider-all-controls controls-inside">
		                        <ul class="slides">
		                            <li>
		                                <img class="half-width" alt="NewYearDietCalc Onboarding" src="images/nydc-onboarding-screenshot.png">
		                            </li>
		                            <li>
		                                <img class="half-width" alt="NewYearDietCalc Macros" src="images/nydc-macros-screenshot.png">
		                            </li>
		                            <li>
		                                <img class="half-width" alt="NewYearDietCalc TDEE" src="images/nydc-tdee-screenshot.png">
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
				
				<% include partials/footer %>
				
				</div>
				<script src="javascripts/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascripts/parallax.js"></script>
        <script src="javascripts/scripts.js"></script>
        <script src="javascripts/flexslider.min.js"></script>
    </body>
</html>
				